In [8]:
import pandas as pd

In [13]:
df1=pd.DataFrame({'a':[1,2],'b':[4,7],'c':[5,1],'d':[6,9]})

In [17]:
df1.iloc[-1]

a    2
b    7
c    1
d    9
Name: 1, dtype: int64

In [18]:
df1

   a  b  c  d
0  1  4  5  6
1  2  7  1  9

In [19]:
df1.loc[1]

a    2
b    7
c    1
d    9
Name: 1, dtype: int64

In [21]:
df1.iloc[0]

a    1
b    4
c    5
d    6
Name: 0, dtype: int64