In [1]:
import pandas as pd
import numpy as np

In [2]:
obj1=pd.Series([3,4,5,6])

In [3]:
obj1

0    3
1    4
2    5
3    6
dtype: int64

In [4]:
obj1.values

array([3, 4, 5, 6], dtype=int64)

In [5]:
obj1.index

RangeIndex(start=0, stop=4, step=1)

In [6]:
obj1_id=pd.Series([3,4,5,7],index=['a','d','c','b'])

In [7]:
obj1_id

a    3
d    4
c    5
b    7
dtype: int64

In [8]:
4 in obj1_id.values

True

In [9]:
obj1_id.index

Index(['a', 'd', 'c', 'b'], dtype='object')

In [10]:
obj1_id[['d','c']]

d    4
c    5
dtype: int64

In [11]:
obj1_id['c']=10

In [12]:
obj1_id

a     3
d     4
c    10
b     7
dtype: int64

In [13]:
obj1[obj1>3]

1    4
2    5
3    6
dtype: int64

In [14]:
obj1*3

0     9
1    12
2    15
3    18
dtype: int64

In [15]:
obj1

0    3
1    4
2    5
3    6
dtype: int64

In [16]:
np.exp(obj1)

0     20.085537
1     54.598150
2    148.413159
3    403.428793
dtype: float64

In [17]:
'4' in obj1_id

False

In [18]:
obj1_ch=pd.Series(['a','b','c','d'])

In [19]:
obj1_ch

0    a
1    b
2    c
3    d
dtype: object

In [20]:
 'b' in obj1_ch

False

In [21]:
'h' in obj1_ch

False

In [22]:
Se_dic={'kun':132001,'snp':131001, 'pnp':131101,'kuk': 133001}

In [23]:
obj_se_dict=pd.Series(Se_dic)

In [33]:
obj_se_dict

kun    132001
snp    131001
pnp    131101
kuk    133001
dtype: int64

In [24]:
obj_se_dict.values

array([132001, 131001, 131101, 133001], dtype=int64)

In [25]:
obj_se_dict.index

Index(['kun', 'snp', 'pnp', 'kuk'], dtype='object')

In [26]:
pd.notnull(obj1)

0    True
1    True
2    True
3    True
dtype: bool

In [27]:
obj1_id

a     3
d     4
c    10
b     7
dtype: int64

In [28]:
obj2_id=pd.Series([5,7,3,1],index=['a','b','c','d'])

In [29]:
obj2_id

a    5
b    7
c    3
d    1
dtype: int64

In [30]:
obj1_id+obj2_id

a     8
b    14
c    13
d     5
dtype: int64

In [31]:
obj2_id.index=['one','two','three','four']

In [32]:
obj2_id

one      5
two      7
three    3
four     1
dtype: int64